:root {
  --ember-lighten-4: #fae5e0;
  --ember-lighten-3: #f3c0b4;
  --ember-lighten-2: #ec9a88;
  --ember-lighten-1: #e6755c;
  --ember: hsl(11, 73%, 53%);
  --ember-darken-1: #be3b1e;
  --ember-darken-2: #922d17;
  --ember-darken-3: #652010;
  --ember-darken-4: #391209;
  --forest-lighten-4: #619e9e;
  --forest-lighten-3: #4e7e7e;
  --forest-lighten-2: #3a5f5f;
  --forest-lighten-1: #273f3f;
  --forest: hsl(180, 24%, 10%);
  --forest-darken-1: black;
  --forest-darken-2: black;
  --forest-darken-3: black;
  --forest-darken-4: black;
  --smoke-lighten-4: white;
  --smoke-lighten-3: white;
  --smoke-lighten-2: white;
  --smoke-lighten-1: white;
  --smoke: hsl(60, 3%, 93%);
  --smoke-darken-1: #d5d5d2;
  --smoke-darken-2: #bcbcb8;
  --smoke-darken-3: #a3a39e;
  --smoke-darken-4: #8b8b84;
  --fire-lighten-4: #fdf0de;
  --fire-lighten-3: #f9dbae;
  --fire-lighten-2: #f6c67e;
  --fire-lighten-1: #f3b14f;
  --fire: hsl(36, 87%, 53%);
  --fire-darken-1: #cd810e;
  --fire-darken-2: #9d630b;
  --fire-darken-3: #6e4508;
  --fire-darken-4: #3e2704;
  --pine-lighten-4: #77b18e;
  --pine-lighten-3: #599b74;
  --pine-lighten-2: #477b5c;
  --pine-lighten-1: #345b44;
  --pine: hsl(144, 27%, 18%);
  --pine-darken-1: #0f1a13;
  --pine-darken-2: black;
  --pine-darken-3: black;
  --pine-darken-4: black;
  --cactus-lighten-4: #add1bb;
  --cactus-lighten-3: #8dbfa0;
  --cactus-lighten-2: #6cac85;
  --cactus-lighten-1: #53936b;
  --cactus: hsl(143, 28%, 35%);
  --cactus-darken-1: #2e523c;
  --cactus-darken-2: #1c3124;
  --cactus-darken-3: #09100c;
  --cactus-darken-4: black;
  --sinopia-lighten-4: #f6c6bc;
  --sinopia-lighten-3: #f0a18f;
  --sinopia-lighten-2: #ea7b62;
  --sinopia-lighten-1: #e35535;
  --sinopia: hsl(11, 76%, 45%);
  --sinopia-darken-1: #9d2e15;
  --sinopia-darken-2: #70210f;
  --sinopia-darken-3: #431409;
  --sinopia-darken-4: #160703;
  --white: #fff;
  --black: #000;
  --font-size: 16px;
  --font-color: var(--forest);
  --font-weight: 400;
  --line-height: 1.5;
  --letter-spacing: 0.01em;
  --font-family: "Ubuntu", sans-serif;
  --font-family-mono: "Ubuntu Mono", monospace;
  --background-color: var(--smoke);
  --heading-1-font-size: 4.7rem;
  --heading-1-font-weight: 700;
  --heading-1-font-color: var(--forest);
  --heading-1-font-family: var(--font-family);
  --heading-2-font-size: 2.7rem;
  --heading-2-font-weight: 700;
  --heading-2-font-color: var(--forest);
  --heading-2-font-family: var(--font-family);
  --heading-3-font-size: 1.8rem;
  --heading-3-font-weight: 500;
  --heading-3-font-color: var(--forest);
  --heading-3-font-family: var(--font-family);
  --heading-4-font-size: 1.6rem;
  --heading-4-font-weight: 700;
  --heading-4-font-color: var(--forest);
  --heading-4-font-family: var(--font-family);
  --heading-5-font-size: 1.4rem;
  --heading-5-font-weight: 700;
  --heading-5-font-color: var(--forest);
  --heading-5-font-family: var(--font-family);
  --heading-6-font-size: 1.2rem;
  --heading-6-font-weight: 700;
  --heading-6-font-color: var(--forest);
  --heading-6-font-family: var(--font-family);
  --max-container-width: 112rem;
  --container-horizontal-padding: 2rem;
  --container-vertical-padding: 0;
  --column-horizontal-gutter: 1rem;
  --column-vertical-gutter: 0;
  --row-horizontal-gutter: 0;
  --row-vertical-gutter: 1rem;
  --nav-padding-horizontal: 1rem;
  --nav-padding-vertical: 0.5rem;
  --nav-background-color: var(--white);
  --nav-link-color: var(--pine);
  --nav-link-hover-color: var(--pine-lighten-1);
  --nav-border-color: var(--smoke-darken-1);
  --transition: 0.2s ease-in-out;
  --anchor-color: var(--ember);
  --anchor-hover-color: var(--ember-lighten-1);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.float-right {
  float: right;
}

footer {
  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: var(--container-vertical-padding) var(--container-horizontal-padding);
  border-top: 1px solid var(--nav-border-color);
}

main {
  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: var(--container-vertical-padding) var(--container-horizontal-padding);
}

nav {
  background: var(--nav-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--nav-padding-vertical) var(--nav-padding-horizontal);
  border-bottom: 1px solid var(--nav-border-color);
}

nav > a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--font-color);
  text-decoration: none;
}

nav > ul {
  list-style: none;
  font-size: 0;
}

nav > ul > li {
  font-size: 1rem;
  display: inline-block;
  margin-left: 1rem;
}

nav > ul > li > a {
  color: var(--nav-link-color);
  text-decoration: none;
  transition: all var(--transition);
}

nav > ul > li > a:hover {
  color: var(--nav-link-hover-color);
}

nav > ul > li > a[aria-current=page] {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
}

p {
  margin: 1rem 0;
}

code {
  font-family: var(--font-family-mono);
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--font-color);
  background-color: var(--white);
  padding: 0.25rem 0.25rem;
  border-radius: 0.25rem;
}

a {
  color: var(--anchor-color);
  text-decoration: none;
  transition: all var(--transition);
}

a:hover {
  color: var(--anchor-hover-color);
  text-decoration: underline;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--font-color);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  background-color: var(--background-color);
}

hr {
  border: 0;
  border-top: 1px solid var(--smoke-darken-1);
  margin: 2rem 0;
}

.container {
  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: var(--container-vertical-padding) var(--container-horizontal-padding);
  width: 100%;
  position: relative;
}

.row {
  display: flex;
  grid-column-gap: var(--column-horizontal-gutter);
  grid-row-gap: var(--column-vertical-gutter);
  margin-bottom: var(--row-vertical-gutter);
}

.column {
  flex: 1;
}

.column-25 {
  --width: calc(25% - var(--column-horizontal-gutter) / 2);
  flex: 0 0 var(--width);
  max-width: var(--width);
}

.column-50 {
  --width: calc(50% - var(--column-horizontal-gutter) / 2);
  flex: 0 0 var(--width);
  max-width: var(--width);
}

.column-75 {
  --width: calc(75% - var(--column-horizontal-gutter) / 2);
  flex: 0 0 var(--width);
  max-width: var(--width);
}

.column-100 {
  flex: 0 0 100%;
  max-width: 100%;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/theme/_theme.scss%22,%22../scss/utility/_normalize.scss%22,%22../scss/utility/_utitlites.scss%22,%22../scss/semantic/_footer.scss%22,%22../scss/semantic/_layout.scss%22,%22../scss/semantic/_nav.scss%22,%22../scss/semantic/_typography.scss%22,%22../scss/semantic/_root.scss%22,%22../scss/components/_grid.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAmCA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EAEA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EAEA;EACA;EACA;EAEA;EACA;EAEA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EAEA;EAEA;EACA;;;ACzKF;AAEA;AAAA;AAGA;AAAA;AAAA;AAAA;AAKA;EACE;EACA;;;AAGF;AAAA;AAGA;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAAA;AAKA;EACE;EACA;;;AAGF;AAAA;AAGA;AAAA;AAAA;AAAA;AAKA;EACE;EACA;EACA;;;AAGF;AAAA;AAAA;AAAA;AAKA;EACE;EACA;;;AAGF;AAAA;AAGA;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAAA;AAKA;EACE;EACA;EACA;;;AAGF;AAAA;AAAA;AAIA;AAAA;EAEE;;;AAGF;AAAA;AAAA;AAAA;AAKA;AAAA;AAAA;EAGE;EACA;;;AAGF;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAAA;AAKA;AAAA;EAEE;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;AAAA;AAGA;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAGA;AAAA;AAAA;AAAA;AAKA;AAAA;AAAA;AAAA;AAAA;EAKE;EACA;EACA;EACA;;;AAGF;AAAA;AAAA;AAAA;AAKA;AAAA,QACQ;EACN;;;AAGF;AAAA;AAAA;AAAA;AAKA;AAAA,SACS;EACP;;;AAGF;AAAA;AAAA;AAIA;AAAA;AAAA;AAAA;EAIE;;;AAGF;AAAA;AAAA;AAIA;AAAA;AAAA;AAAA;EAIE;EACA;;;AAGF;AAAA;AAAA;AAIA;AAAA;AAAA;AAAA;EAIE;;;AAGF;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAAA;AAAA;AAAA;AAOA;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAAA;AAKA;AAAA;EAEE;EACA;;;AAGF;AAAA;AAAA;AAIA;AAAA;EAEE;;;AAGF;AAAA;AAAA;AAAA;AAKA;EACE;EACA;;;AAGF;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAAA;AAKA;EACE;EACA;;;AAGF;AAAA;AAGA;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAGA;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAIA;EACE;;;AC3VF;EACE;;;ACDF;EACE;EACA;EACA;EACA;;;ACJF;EACE;EACA;EACA;;;ACFF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAIF;EACE;EACA;EACA;EACA;;;AAIF;EACE;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;ACzCF;EACE;;;AAEF;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;;;ACxDF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;ACbF;EACE;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA%22,%22file%22:%22deciduous-ui.css%22%7D */
