---
layout: layout
title: Home
---
<main>
  <h1>This is Deciduous UI</h1>
  <p>Deciduous UI provides a semantic approach first to styling. It gives you the ease of use of prototyping with just HTML and extensibility to go beyond it without getting in the way.</p>
  <h3>What you get:</h3>
  <ul>
    <li>A light-weight single CSS file to drop into any project.</li>
    <li>Styling using semantic HTML first.</li>
    <li>Ease of writing you own CSS on top.</li>
    <li>Additional components and widgets based on ARIA standards: <a href="https://www.w3.org/WAI/ARIA/apg/patterns/">https://www.w3.org/WAI/ARIA/apg/patterns/</a></li>
    <li>Utility classes to speed up development.</li>
  </ul>
  <h3>What you don't:</h3>
  <ul>
    <li>A robust set of utility classes for every scenario.</li>
    <li>Variations of components or elements that break semantic or accessibility conventions.</li>
  </ul>
  <p>This entire site is built using Deciduous UI. With little to no custom styles.</p>
</main>
<footer>
  <h5>Continue Reading</h5>
  <p>Home | <a href="/semantic">Semantic</a></p>
</footer>
{% include 'footer' %}