.container {
  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: var(--container-vertical-padding) var(--container-horizontal-padding);
  width: 100%;
  position: relative;
}

.row {
  display: flex;
  grid-column-gap: var(--column-horizontal-gutter);
  grid-row-gap: var(--column-vertical-gutter);
  margin-bottom: var(--row-vertical-gutter);
}

.column {
  flex: 1;
}

.column-25 {
  --width: calc(25% - var(--column-horizontal-gutter) / 2);
  flex: 0 0 var(--width);
  max-width: var(--width);
}

.column-50 {
  --width: calc(50% - var(--column-horizontal-gutter) / 2);
  flex: 0 0 var(--width);
  max-width: var(--width);
}

.column-75 {
  --width: calc(75% - var(--column-horizontal-gutter) / 2);
  flex: 0 0 var(--width);
  max-width: var(--width);
}

.column-100 {
  flex: 0 0 100%;
  max-width: 100%;
}